#about
    h1
        font-weight: 700
        font-size: 45px
    h3
        font-style: italic
        font-size: 20px
        color: #6c757d
        margin: 20px 0 60px
    .wid
        width: 334px
    .box
        display: flex
        margin-bottom: 100px
        .minibox
            h2,h5
                font-weight: 700
                font-size: 27px
                margin-bottom: 15px
            p
                line-height: 1.5
                font-size: 20px
                color: #6c757d
        .imgbox
            margin-left: 38px
            img
                border: 7px solid #e9ecef
                border-radius: 50%
                width: 75%
    .left
        margin-left: 110px
    .right
        margin-right: 80px
    .textbox
        border: 7px solid #e9ecef
        border-radius: 50%
        width: 15%
        padding: 4%
        background-color: #ffc800
        margin-top: 40px
        h6
            font-size: 19px
            color: #ffff
            font-weight: 600
            line-height: 1.3
    @media screen and ( max-width: 1200px )
        .textbox
            width: 16%
    @media screen and ( max-width: 992px )
        h1,h3
            margin-left: 80px
        .textbox
            width: 20%
    @media screen and ( max-width: 768px )
        h1,h3
            margin-left: 0
        .left
            margin-left: 0
        .right
            margin-right: 0
        .textbox
            width: 24%
