#partner
    padding: 35px 0
    .textbox
        .imgbox
            width: 164px
            img
                cursor: pointer

    @media screen and ( max-width: 992px )
        .textbox
            position: relative
            left: 12%
            .imgbox
                margin-right: 20px
    @media screen and ( max-width: 768px )
        .textbox
            position: relative
            left: 0
    @media screen and ( max-width: 576px )
        .textbox
            display: flex
            flex-direction: column
            position: relative
            left: 10%
            .imgbox
                margin-bottom: 30px
