#services
    .textbox
        h1
            font-size: 45px
            font-weight: 700
            color: #000
        h3
            font-size: 20px
            color: #6c757d
            font-style: italic
            margin: 20px 0 40px
    .box
        display: flex
        justify-content: center
        .icon
            background-color: #ffc800
            border-radius: 50%
            padding: 27px
            width: 133px
            height: 108px
            i
                font-size: 60px
                color: #ffff
    .minibox
        h2
            font-size: 27px
            font-weight: 700
            color: #000
            margin: 15px 0 20px
        p
            font-size: 17px
            line-height: 1.75
            color: #6c757d
            margin: 20px

    @media screen and ( max-width: 768px )
        .minibox
            p
                margin-bottom: 20px
